html{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

a{
  text-decoration: none;
}

body{
  /*background: url('../assets/IMG_0340.jpg') repeat-y;*/
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}


header{
  width: 100vw;
  z-index: 5;
  /*height: 50px;*/
  /*background: rgba(55, 55, 55, 0);*/
  background: rgb(255, 255, 255);
  position: fixed;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 10px;
}

nav>div{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

nav ul li {
  display: inline;
  /*margin: 5px 10px;*/
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  height: 100%;
  padding: 10px 10px 20px 10px;
}

nav ul li a:link, nav ul li a:visited {
  text-decoration: none;
  color: black;
}

nav ul li a.active {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  box-shadow: 10px 10px 10px 10px black;
}


nav ul li:hover{
  color: rgb(0, 178, 209);
  font-weight: 400;
}

nav ul li a.active:hover {
  color: white;
  font-weight: 300;
}

.navLinks{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.socialLinks ul li a {
  color: black;
  font-size: 1.75rem;
}

.socialLinks ul li a:hover{
  color: rgb(0, 178, 209);
  font-weight: 400;
}

.socialLinks{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main{
  width: 100vw;
}

.selectedPage li{
  background: black;
  color: white;
  box-shadow: 0 5px 10px 2px rgba(55, 55, 55, 0.3);
}

i.fa-home{
  font-size: 1.75rem;
}

section.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 60vh;
  left: 10vw;
  width: 80vw;
}

.home div{
  width: 100%;
}

section h1{
  font-size: 10vh;
}

.home h2 {
  font-size: 6vh;
  color: rgb(0, 178, 209);
}

.home h3{
  font-size: 4vh;
}

.homeHero{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/homeHero.png');
  background-size: cover;
  box-shadow: 0 5px 10px 2px rgba(55, 55, 55, 0.3);
  z-index: -1;
}

.aboutHero{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/hiking.png');
  background-size: cover;
  box-shadow: 0 5px 10px 2px rgba(55, 55, 55, 0.3);
  z-index: -1;
}

.aboutHero img{
  position: absolute;
  width: inherit;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1;
}

section.about{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60vh;
  left: 10vw;
  margin-right: 30px;
  width: 80vw;
}


.about .arrows{
  width: 80vw;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-wrap: nowrap;
}

.arrows>div{
  width: 30%;
}

.arrows i{
  margin: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.arrows i:hover{
  cursor: pointer;
  color: rgb(0, 178, 209);
}

.fa-arrow-circle-left{
  float: left;
}

.fa-arrow-circle-right{
  float: right;
}

section.resume{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 10vw;
  margin-right: 30px;
  width: 70vw;
  overflow: visible;
}

.resume object, .resume img{
  width: 100px;
  height: 100px;
  margin: 10px;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
   filter: url(#drop-shadow);
   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
   overflow: visible;
}

.techIcons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow: visible;
}

section.projects{
  position: absolute;
  top: 120px;
  left: 50px;
}

.projectHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects>div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  align-items: center;
}

.projects>div>div{
  width: 55%;
  margin-left: 5%;
}

.projects img{
  width: 300px;
  height: 200px;
}

.projects h2{
  font-size: 1.1rem;
  font-style: italic;
}

.projectLinks{
  margin-top: 5px;
}

.projectLinks i, .projectLinks i:visited, .projectLinks i:link{
  font-size: 2em;
  color: black;
  margin-right: 20px;
}

.projectLinks i:hover{
  color: rgb(0, 178, 209)
}

.projects p{
  margin-top: 5px;
}

/*media queries
proceed at your own risk*/

@media screen and (max-width: 582px){
  header{
    height: 110px;
  }
  .socialLinks{
    margin-bottom: 30px;
    width: 100%;
  }
  nav ul li {
    font-size: 1.35rem;
  }
  .navLinks{
    width: 100%;
  }
  .selectedPage li{
    padding: bottom: 10px;
  }
  .projects>div>div{
    margin-left: 0;
    margin-top: 10px;
  }
  .homeHero{
    height: 40vh;
  }
  .aboutHero{
    height: 40vh;
  }
  section.about{
    top: 50vh;
  }
  section.home{
    top: 50vh;
  }
  .about .arrows {
    margin-left: 10px;
  }
  .arrows>div{
    width: 90%;
  }
}
