<section class="resume">
  <h1>Coming Soon</h1>
  <div class="techIcons">
  <object data="assets/javascript.svg" type="image/svg+xml"></object>
  <object data="assets/angularjs.svg" type="image/svg+xml"></object>
  <object data="assets/express.svg" type="image/svg+xml"></object>
  <object data="assets/nodejs.svg" type="image/svg+xml"></object>
  <img src="assets/reactjs.png" alt="reactjs">
  <object data="assets/jquery.svg" type="image/svg+xml"></object>
  <object data="assets/git.svg" type="image/svg+xml"></object>
  <object data="assets/css3.svg" type="image/svg+xml"></object>
  <object data="assets/sass.svg" type="image/svg+xml"></object>
  <object data="assets/html5.svg" type="image/svg+xml"></object>
  <object data="assets/mongodb.svg" type="image/svg+xml"></object>
  </div>
</section>
